{%load static%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{%url 'home' %}">Emusker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'profile_list'%}">Profile List</a>
        </li>
        {%if user.is_authenticated%}
        {%else%}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'login' %}"> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'register' %}"> Register</a>
        </li>
        {%endif%}
      </ul>
      {%if user.is_authenticated%}
      <div class="dropdown">
        <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {%if user.profile.profile_image%}
          <img src="{{user.profile.profile_image.url}}" class="rounded-circle" width="30" height="30" alt="{{profiles.user.username}}">
        {%else%}
          <img src="{%static 'images/default-picture.jpeg'%}" class="rounded-circle" width="30" height="30" alt="{{profiles.user.username}}">
        {%endif%}
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="{%url 'profile' request.user.id %}">My Profile</a></li>
          <li><a class="dropdown-item" href="{%url 'logout' %}">Logout</a></li>
        </ul>
      </div>
      {%endif%}
    </div>
  </div>
</nav>